<!DOCTYPE html>
<html>
    <head>
        <title>User Signup</title>
        <style type="text/css">
            .error {
                color:red;
            }
        </style>
    </head>
    <body>

        <h1>Signup</h1>

        <form method="POST">
            <table>
                <tr>
                    <td><label for="username">Username</label></td><td>
                    <input type="text" name="username" />
                    <span class="error">{{username_err}}</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td><td>
                    <input type="password" name="password" />
                    <span class="error">{{password_err}}</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="vpassword">Verify Password</label></td><td>
                    <input type="password" name="vpassword" />
                    <span class="error">{{vpassword_err}}</span>
                    </td>
                </tr>
                <tr><td>
                    <label for="email">Email (optional)</label></td><td>
                    <input type="text" name="email" />
                    <span class="error">{{email_err}}</span>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" /></td>
                </tr>
            </table>
        </form>

    </body>
</html>